# Workshop #2 Worksheet

Welcome to Workshop #2! We're excited to share some fun and medically relevant problems for you to work through.   

Unless otherwise indicated as exercises, the code chunks in this worksheet are illustrative examples which you should run.

---

# 1) Data types

Different data types include:
  * Strings
  * Integers
  * Floats
  * Booleans

We have already met strings. A *string* is basically a string of characters and are identified by quote marks around the characters. 

    "This is a string"
    'This is also a string'

Note that both double- and single-apostrophes are acceptable; however, you need to be consistent in your use. For example, `"xyz'` is not a valid string.

*Integers* are whole numbers (for example, `5`, `21`, `-7`)

*Floats* are decimal numbers (for example, `5.3`, `3.14`, `2.0`)

There are only two possible *boolean* values: `True` and `False`.

You can use the `type()` function to check the type of the information stored by a variable.



**Example**: 

The type() function checks what data type "Ryan" is.

In [2]:
# Strings
Name = "Ryan"
print(Name)
print(type(Name))

Ryan
<class 'str'>

**Exercise 1:**  
1.   **Use the type() function for Integers and Floats** 

**For the following exercises, type your code below the instructional comments!**

In [42]:
# Exercise 1

# Integers
# Define an Integer variable
my_var = 5
# Print the variable
print(my_var)
# Print the type of the variable
type(my_var)

5

int

In [43]:
# Floats
# Define a Float variable
my_float = 5.0
# Print the variable
print(my_float)
# Print the type of the variable
type(my_float)

5.0

float

---

# 2) Operations: the maths ones, not the surgical ones

**The classic quartet:**
- Add: `+`
- Subtract: `-`
- Multiply: `*`
- Divide: `/`

An example with integers:

In [44]:
result = 2 + 2
print('2 + 2 =', result, '. It does not equal 5.')

2 + 2 = 4 . It does not equal 5.

The rule of **BODMAS** is alive and well in Python

In [45]:
print('2 x 3 + 4 = ', 2 * 3 + 4)
print('2 x (3 + 4) = ', 2 * (3 + 4))

2 x 3 + 4 =  10
2 x (3 + 4) =  14

Division will produce a **float** number, regardless of whether the input operands are integers or floats.

In [46]:
numerator = 10
denominator = 5

print('Type of numerator and denominator: ', type(numerator), type(denominator))

print('output =', numerator/denominator)
print('Type of output: ', type(numerator/denominator))

Type of numerator and denominator:  <class 'int'> <class 'int'>
output = 2.0
Type of output:  <class 'float'>

In [47]:
print(10/3)

3.3333333333333335

We will now introduce the less popular sister of division - **floor division** `//`. This will give us a **whole number quotient** without the remainder. For instance, we note that $\frac{17}{5}=3 \text{ remainder } 2$. The floor division `17 // 5` will give us `3`. Try it now!

In [18]:
print(17 // 5)

3

The floor division operator has a boyfriend who makes her life whole - **modulo**, denoted in python as `%`. The modulo operator returns the remainder of a division. As with the above example $\frac{17}{5}=3 \text{ remainder } 2$, the modulo operation `17 % 5` will give us `2`.

In [19]:
print(17 % 5)

2

We use `**` to represent the **power** operator. Thus, to express $a^b$ in Python, we use `a ** b`.

In [20]:
print(3 ** 2)

9

**Exercise 3:**  
**Mrs Greene is a patient on the surgical ward. She has been here for 37 days.**

1.   **Use Floor Division and Modulo to determine how many weeks and days this is.**
2.   **Print your answer**

In [51]:
# Exercise 3
days_in_ward = 37
weeks_in_ward = days // 7
leftover_days = days % 7
print("Mrs Greene has been here for")
print(days_in_ward)
print("If we were to conver that into weeks and days")
print(weeks)
print(leftover_days)

Mrs Greene has been here for
37
If we were to conver that into weeks and days
5
2

**Exercise 4:**   
**Have a play around with your new math programming skills! Make some equations!**

In [59]:
# Exercise 4
### The freedom is yours ###
days_in_ward = 37
weeks_in_ward = days // 7
leftover_days = days % 7
print("Mrs Greene has been here for " + str(days_in_ward) + " days")

print(f"Mrs Greene has been here for {days_in_ward}")

Mrs Greene has been here for 37 days
Mrs Greene has been here for 37

**Operations between different data types**

It is possible to use perform operations between different data types.

As introduced in Workshop 1, operator mashing between **strings** and **integers** can be used to modify the string.

In [60]:
print('Oi'*3)

OiOiOi

Maths operations between **floats** and **integers** will create a new **float** number.

In [61]:
the_int = 3
the_float = 4.  # Note that the decimal point ensures that the 4 is a float

print('Type of the integer 3: ', type(the_int))
print('Type of the float 4. : ', type(the_float))

# Mathematical food processor
finished_product = (the_int + the_float) * the_float - the_int

print(f'The result {finished_product} has the type {type(finished_product)}')

Type of the integer 3:  <class 'int'>
Type of the float 4. :  <class 'float'>
The result 25.0 has the type <class 'float'>

**Division by zero**

If you still haven't tried that yet, we applaud your self-control.

However, now is the time to enjoy a little *sin*.

In [30]:
### THE RED PILL ###
print(42/0)

ZeroDivisionError: ignored

Against popular belief, you do not actually create a **black hole** when you divide by zero.

Try to imbue yourself in the magic of the error message. It might be confronting at first, but when broken down, all it's trying to say is:
- Location of the error (with a helpful error pointing towards the line of code);
- What has caused the error.

---

# 3) Updating Variables

As previously mentioned, we use **variables** to store data values. This is called **variable assignment**. The data could be anything - strings, integers, numbers, etc.

Just imagine the `=` symbol being a virtual hand that places the data value on the **right hand side** into the box on the **left hand side**.

    # Assigning variable - putting the value in the box
    variable = 'value'

"And what if the value of our data changes?"

We can **update** the value in our **variable** container at any stage by assigning a new value:

    # Update the variable with our new value
    variable = 'new value'

**Example:**  
You are the intern at a busy metropolitan ED. You ask for the patient's name, take a beautiful history and exam and you're ready to type up the admission note. You start typing the admission note of the patient "Jane" but you realise you have forgotten to ask her last name!

In [31]:
#Jane
patientName = "Jane"

#Now to update her name
patientName = "Jane Smith"
print(patientName)

Jane Smith

In [32]:
#Suddenly, all the patients are either discharged from ED or moved to the ward. 
#With all this extra time, you perform hand hygiene, 
#you whip your $800 coffee grinder out of your bag, 
#grind some beans to warm up your hands, 
#crack your knuckles...
#And now it's time to lay down some fancy coding on the hospital computers >:)
patientName = "Jane"
patientName = patientName + " Smith" #concatenation yeah boi
print(patientName)

Jane Smith

**Example:**  
It's 3pm in the ED. The consultant from the afternoon shift arrives. His name is Dr Fibonacci. You decide that you want to impress him...

(Note that variables defined in early chunks carry over into later chunks)

In [33]:
a = 1
b = 1
print(a)
print(b)
# Nothing too surprising here

1
1

In [34]:
c = a + b
print(c)
# Yup, this makes sense too

2

In [35]:
a = b       # Making 'a' take the same value as the old 'b' (ie. 1)
b = c       # Making 'b' take the same value as the old 'c' (ie. 2)
c = a + b   # Making 'c' take the value of the sum of the new 'a' and 'b' (ie. 1+2)
print(c)

3

In [36]:
a = b
b = c
c = a + b
print(c)
# This is an identical code-chunk to the above, but note how the results change.

5

In [37]:
a = b
b = c
c = a + b
print(c)
# Once again, this is an identical code-chunk to the above, but note how the results change.

8

Note that `=` is **not** the equals symbol we all know and love in maths. It is strictly used for assigning values to a variable. To make this more explicit: 
*  In maths, `=` is a symbol indicating logical equivalence: that is, $a=b$ is a statement that $a$ and $b$ are equivalent.
*  In Python, `=` is a symbol telling Python to take action: that is, `a = b` tells Python to assign the value of `b` to the variable `a`. It is **not** a statement of equivalence.

We can also update a variable with reference to it's old value. For example, `x = x + 1` means to assign to `x` the value of "the old value of `x` plus $1$". In a sense, we've overwritten the variable `x` with the next number up. This sort of process is known as "iteration".

In [67]:
x = 0       # defining the initial x to be 0
print(x)

x = x + 1   # overwriting x with 1
print(x)

x = x + 1   # overwriting x with 1+1
print(x)

x = x + 1   # overwriting x with 2+1
print(x)

x = x + 1   # overwriting x with 3+1
print(x)

0
1
2
3
4

If your inner mathematician is screaming in objection, we offer you a couple sacrilegious alternatives for **updating variables**:

    # Instead of doing this x = x + 5, do:
    x += 5

It comes with all the possible flavours:
- `x -= 5`  is identical to: `x = x - 5`
- `x *= 5`  is identical to: `x = x * 5`
- `x /= 5`  is identical to: `x = x / 5`
- `x //= 5`  is identical to: `x = x // 5`
- `x %= 5`  is identical to: `x = x % 5`
- `x **= 5`  is identical to: `x = x ** 5`

In [68]:
x = 3
print('The original x:', x)

x /= 5
print('The new x given by x /= 5 is:', x)

The original x: 3
The new x given by x /= 5 is: 0.6

**Exercise 5:**  
**The nurse asks you, a keen medical student, to update the current oxygen saturation (SpO2) in a COPD patient Mr Kunz on the Respiratory Ward. The old SpO2 from 1 hour ago was 89%. The nurse just recorded a new SpO2 of 93% this hour.**

1.   **Record the SpO2 (in %) from an hour ago in a variable called `O2sat`**
2.   **Print `O2sat`**
3.   **Update the SpO2 with the current reading.**
4.   **Print `O2sat`**

In [69]:
# Exercise 5
# Mr Kunz
O2sat = 89
print(O2sat)
O2sat = 93
print(O2sat)

89
93

**Exercise 6:**  
**Yesterday morning, Mr Kunz's weight was 97.2kg. Having started on frusemide, his weight has dropped 4.5kg by this morning.**


1.   **Express his old weight (in kg) in a variable `weightKunz`**
2.   **Print `weightKunz`**
3.   **Update the variable `weightKunz` using the format `weightKunz = weightKunz + y` where `y` is the change that has happened.** 
4.   **Print `weightKunz`**

In [41]:
# Exercise 6
# Mr Kunz's weight
weightKunz = 97.2
print(weightKunz)
weightKunz = weightKunz - 4.5
print(weightKunz)

97.2
92.7

**Exercise 7:**  
**You are spending the morning in the pathology lab and the pathologist introduces you to a mystical bacteria that grows in a multiplicative fashion, meaning that every hour, the number of bacteria on the dish is $5\times$ what was present 1 hour ago. If at hour 0, the number of bacteria on the dish is 4 colonies, use the `*=` operator to print how many bacteria are on the dish at 1, 2, 3, 4 and 5 hours.**

In [74]:
# Exercise 7
# Mystical Bacteria
mystical_bacteria_count = 4
hour_multiplier = 5

mystical_bacteria_count *= hour_multiplier
print(mystical_bacteria_count * 1)
print(mystical_bacteria_count * 2)
print(mystical_bacteria_count * 3)
print(mystical_bacteria_count * 4)
print(mystical_bacteria_count * 5)

20
40
60
80
100

**Exercise 8:**  
**The half-life of a drug is the time taken for half the drug to be eliminated from the body. 
Ms Harris received 100 units of Drug A at hour 0. The half-life of this drug is 20 minutes. If the level of drug is recorded every 20 minutes, use `/=` and other maths to work out how long it will take to record a level of drug below 5 units for the first time.**

In [85]:
# Exercise 8
# Half-life
drug_a_units = 100
drug_a_halflife = 20
hours_passed = 0

drug_a_units = drug_a_units / 2
hours_passed += 1
print(drug_a_units)
drug_a_units = drug_a_units / 2
hours_passed += 1
print(drug_a_units)
drug_a_units = drug_a_units / 2
hours_passed += 1
print(drug_a_units)
drug_a_units = drug_a_units / 2
hours_passed += 1
print(drug_a_units)
drug_a_units = drug_a_units / 2
hours_passed += 1
print(drug_a_units)
print(hours_passed)

50.0
25.0
12.5
6.25
3.125
5

**Exercise 9:**  
**During the first few hours of a night shift in an ED, 3 patients discharge home and 1.5 patients are admitted to the wards every hour. At the start of the night shift at 6pm one evening, there are 13 patients in the ED.**
 

1.    **Print the number of patients in the ED initially at 6pm.**
2.    **Print how many patients will be in the ward at 8pm, 10pm and midnight**

In [93]:
# Exercise 9
# ED Night Shift
total_patients = 13
patients_leave_per_hour = 3
patients_come_per_hour = 1.5
time = 6

print(total_patients)
total_patients -= patients_leave_per_hour
total_patients += patients_come_per_hour
time += 1
print(total_patients)
print(time)
total_patients -= patients_leave_per_hour
total_patients += patients_come_per_hour
time += 1
print(total_patients)
print(time)
total_patients -= patients_leave_per_hour
total_patients += patients_come_per_hour
time += 1
print(total_patients)
print(time)
total_patients -= patients_leave_per_hour
total_patients += patients_come_per_hour
time += 1
print(total_patients)
print(time)
total_patients -= patients_leave_per_hour
total_patients += patients_come_per_hour
time += 1
print(total_patients)
print(time)
total_patients -= patients_leave_per_hour
total_patients += patients_come_per_hour
time += 1
print(total_patients)
print(time)

13
11.5
7
10.0
8
8.5
9
7.0
10
5.5
11
4.0
12

**Exercise 10:**  
**A patient has been in hospital for a number of days. As us humans intuitively think in weeks and days rather than just days, create a calculator that takes in a number of total days and outputs how many weeks and days that is equal to. For example, 58 days is equal to 8 weeks and 2 days.**

1.    **Create a variable called `totalDays` and assign to it some integer between $20$ and $100$.**
2.    **Calculate `weeks` and `days` from `totalDays`. Print `weeks` and `days`.**

In [94]:
# Exercise 10
total_days = 37
weeks_in_ward = days // 7
leftover_days = days % 7

print(total_days)

print(weeks)
print(leftover_days)

37
5
2

---

# 4) Data Type Conversions

If appropriate, you can convert one data type to another data type. 
  * `str(x)` converts `x` to a string
  * `int(x)` converts `x` to an integer
  * `float(x)` converts `x` to a float
  * `bool(x)` converts `x` to a boolean

For example running 
    
    int("5")

returns `5`, while running

    str(5)
    
returns `"5"`.

In [95]:
Age = 65 # in years
print(Age)
print(type(Age)) # Integer type

# Convert to string
s_Age = str(Age)
print(s_Age)
print(type(s_Age))

# Convert to float
f_Age = float(Age)
print(f_Age)
print(type(f_Age))

65
<class 'int'>
65
<class 'str'>
65.0
<class 'float'>

In [96]:
Height = 1.70 # in metres
print(Height)
print(type(Height)) # Float type

# Convert to integer (note that the decimals are truncated)
i_Height = int(Height)
print(i_Height)
print(type(i_Height))

1.7
<class 'float'>
1
<class 'int'>

This becomes **particularly important** when you are retrieving user values from the **input** function, as the data type of the output will always be string.

In [98]:
should_be_a_number_but_actually_a_string = input('How many doctors does it take to change a lightbulb? (0 to 100): ')
print('Input type: ', type(should_be_a_number_but_actually_a_string))

# Convert the data into an integer to allow mathematical computation
now_a_number = int(should_be_a_number_but_actually_a_string)
print('Type after conversion: ', type(now_a_number))

# Mathematicians here will be proud
print('That would be', now_a_number // 2, 'pairs of doctors.')

How many doctors does it take to change a lightbulb? (0 to 100): 2
Input type:  <class 'str'>
Type after conversion:  <class 'int'>
That would be 1 pairs of doctors.

Note that some data values cannot be converted to another data value. For instance, trying to convert `"Text"` to an integer using `int("Text")` returns an error!

In [99]:
# Some good ol' error messages
int('troublemaker')

ValueError: ignored

**Exercise 11:**  
 
1.   **Run the following code chunk. You should see an error.**
2.   **Using the feedback from the error message, make the necessary alteration to the code in the chunk below by using one of the following functions: `str()`, `int()` or `float()`**

In [101]:
# Exercise 11
# Fixing it up
x = "I am aged "
a = 23
a_to_string = str(a)
print(x + a_to_string)

I am aged 23

**Exercise 12A: Can you figure out why `a // b` returns identical results to `int(a / b)`? If you want, use the following code chunk to play around.**

In [103]:
# Exercise 12A

a = 23
b = 2
print(a // b) # identical
print(a / b)
print(int(a / b)) # identical

# Float to int conversion

11
11.5
11

**Exercise 12B: Can you figure out why `a % b` returns identical results to `a - (a // b) * b`? If you want, use the following code chunk to play around.**

In [105]:
# Exercise 12B

a = 23
b = 5
print(a % b) # identical
print(a - (a // b) * b) # identical

#

3
3

---

# 5) Putting it all together

Let's put what we've learnt all together and make some useful tools!

We will try to create some calculators based on some medical equations.

**Exercise 13: First, a recap. What is the data type of an input variable?**  
1.   **Create an input variable called `patientAge` that asks for the patient's age.**
2.   **Print `patientAge`.**
3.   **Print the data type of `patientAge`.** 


**Note how the data type of an input variable is always a string even if we input digits into `patientAge`!**

In [108]:
# Exercise 13
# patientAge
patientAge = input("my patient is of age: ")
print(patientAge)
print(type(patientAge))

my patient is of age: 33
33
<class 'str'>

**Exercise 14: Convert the data type of an input variable to an integer type** 
1.   **Create an input variable called `patientAge` that asks for the patient's age.**
2.   **Print `patientAge`**
3.   **Print the data type of `patientAge`** 
4.   **Convert `patientAge` to an integer using `int()`**
5.   **Print the data type of `patientAge`**

In [109]:
# Exercise 14
# patientAge
patientAge = input("my patient is of age: ")
print(patientAge)
print(type(patientAge))
patientAge = int(patientAge)
print(type(patientAge))

my patient is of age: 10
10
<class 'str'>
<class 'int'>

**Exercise 15: BMI Calculator**  

1.   **Create a height variable, assign your height (m) to it.**  
2.   **Create a weight variable, assign your weight (kg) to it.** 
3.   **Create a BMI variable, assign it the mathematical formula of weight divided by height squared**
4.   **Write a print statement that says "My BMI is (insert BMI here)"**

In [111]:
# Exercise 15
# BMI Calculator
height = 180
weight = 80

bmi = weight / height ** 2
print(bmi)

0.0024691358024691358

**Exercise 16: BMI Calculator with inputs** 
1.   **Copy-paste your BMI Calculator from above.**
2.   **Alter your code to ask for your input height and weight.**
**Remember to convert your input variables into the appropriate data type!**

In [ ]:
# Exercise 16
# BMI Calculator with inputs

**Exercise 17: Mean Arterial Pressure Calculator with inputs**  
**Mean arterial pressure is calculated as follows:** $$\text{MAP}=\frac{\text{SystolicBP} + 2\times\text{DiastolicBP}}{3}$$


1.   **Create a calculator that calculates the MAP from two inputs: the systolic and diastolic BPs** 
2.   **If the MAP generated is a float, use the `round()` function to round that float to the nearest integer.**   
3.   **Print the rounded Mean Arterial Pressure**

In [ ]:
# Exercise 17
# Mean Arterial Pressure Calculator

Note that when applied to floats, the `round()` and `int()` functions are different because `int()` *always* rounds down, while `round()` can round either down or up depending on the specific float.

##**eGFR based on the MDRD equation**

\begin{align}
eGFR = 186 × SerumCr^{-1.154} × age^{-0.203} × 1.212 \space (\text{if patient is Black}) × 0.742 \space (\text{if patient is female})
\end{align}


Where: 
- eGFR is in mL/min per 1.73 m²
- Serum Creatinine is in $mg/dL$.

To convert serum creatinine from $\mu mol/L$ to $mg/dL$, divide the value in $\mu mol/L$ by $88.42$.


**Exercise 18: eGFR**

1.  **Write `input()` functions that takes in user-given age and serum creatinine (in $\mu mol/L$).**
2.  **Perform the appropriate datatype and unit conversions.**
2.  **Calculate the eGFR from the inputs, assuming that the patient is a non-Black male.**

**We will discuss how to deal with situations involving other patients in upcoming workshops.**

Here's a bunch of existing data we can use to verify if our program is working. Compare your results to the following eGFR:

- Patient A: age 32, creatinine 96 micromol/L $\rightarrow$ eGFR 83.7 mL/min per 1.73 m²
- Patient B: age 65, creatinine 152 micromol/L $\rightarrow$ eGFR 42.7 mL/min per 1.73 m²

In [ ]:
# Exercise 18
# eGFR calculations

##**A-a gradient in room air**

$$\text{A-a gradient} = 150 - \frac{Pa_{CO2}}{0.8} - Pa_{O2}$$

Where A-a gradient and arterial blood gas pressures are in mmHg. Furthermore, for a given patient age, the expected gradient is

$$\text{Expected A-a}=\frac{\text{age}}{4}+4$$

**Exercise 19: A-a gradient**

1.  **Write `input()` functions that takes in user-given PaCO2, PaO2 and age. Use appropriate datatype conversions.**
2.  **Calculate the A-a gradient from the inputs.**
3.  **Calculate the expected A-a gradient for the patient.**

Again, test your program with the following values and see if the A-a gradients match:
- Patient A: age 25, PaO2 90 mmHg, PaCO2 40 mmHg $\rightarrow$ A-a gradient 10 mmHg, expected gradient 10.25 mmHg;
- Patient B: age 50, PaO2 60 mmHg, PaCO2 45 mmHg $\rightarrow$ A-a gradient 34 mmHg, expected gradient 16.5 mmHg;

In [112]:
# Exercise 19
# A-a gradient


print(f'''allen abc
bbb {a}
bbb
bbb''')

allen abc
bbb
bbb
bbb

---

# **mini-Project - Lindsay Brown**

We now arrive at the finale for Workshop 2. We want you to apply all the coding knowledge you've learnt so far onto an open-ended mini-project that simulates a real-life application of coding in medicine. Your task is as follows:


1.   You take a history from Lindsay Brown. Take the important details on history, store them in variables eg. `site`, `quality`, etc.
2.   Create a variable called `summary`. Using f-strings, generate and assign to `summary` a patient summary (eg. in ISBAR format) that you can present to the Consultant. Print `summary`. For example, your `summary` variable might start like this:

    ``summary = f"I just spoke to {name}, a {age} year-old {gender} etc etc"``

3.   When setting up `summary`, it should be flexible enough that if the presenting history changes, `summary` will still generate a coherent summary for the new history.
4.   There is no one right answer for this project, and don't be limited by the examples we've used. Be as creative as you like! 

[Link is here if the image does not display:](https://drive.google.com/uc?export=view&id=1W0Bn9Nh_zdtkEDO_occrmkV2dTrpE-Ux)

![](https://drive.google.com/uc?export=view&id=1W0Bn9Nh_zdtkEDO_occrmkV2dTrpE-Ux)

In [ ]:
#Lindsay Brown

#Example code
# staff_name = "Dr Edmond"
# staff_position = "intern"
# hospital = "Western Health"
# pt_name = "Lily Huang"
# pt_age = 10
# pt_gender = "girl"
# top_differential = "Urinary Tract Infection"
# summary = f"My name is {staff_name}, an {staff_position} at {hospital}. I am calling about {pt_name}, a {pt_age} year old {pt_gender} who presents with suspected {top_differential} ...")
# print(summary)

#YOUR TURN! Give your code a cool title!

#(Insert title here)

# **CONGRATS FOR COMPLETING WORKSHOP 2!!**

Please fill out [this feedback form](https://www.tinyurl.com/MDCodingWorkshopFeedback) to help us tailor the workshops for your needs!